<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user}">

<div layout:fragment="content">
	<div class="form-action h4">
		<a href="#" onclick="javascript:window.history.back()">Quay lại</a>
	</div>
	<div class="d-flex justify-content-center mb-4">
    	<h1 class="h3 mb-0 text-gray-800">Thống kê ([[${month + "/" + year}]])</h1>
    </div>
	<div class="row justify-content-center" id="area-details">
		<div class="col-md-8 col-12">
        	<div class="card shadow mb-4">
            	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                	<h6 class="m-0 font-weight-bold text-primary">Chi tiết thu chi</h6>
            	</div>
                <div class="card-body">
                	<div class="chart-area" style="height: 278px;" th:if="${haveInfo==true}">
                		<canvas id="myAreaChart"></canvas>	
                	</div>
                	<div class="chart-area d-flex justify-content-center align-items-center" th:if="${haveInfo==false}">
                		<h3 class="h3 mb-0 text-gray-800">Không có thông tin</h3>
                	</div>
                	<hr>
	                <ul class="list-group list-group-flush pb-1 border-0">
	                	<li class="list-group-item detail-select" th:each="data: ${dayDataList}">
	                		<a th:href="@{/user/day-detail/{day}/{month}/{year}(day=${data.day}, month=${month}, year=${year})}" class="d-flex justify-content-between text-decoration-none day-data-detail" 
	                			style="color: #858796;">
	                			<div th:text="${data.date}"></div>
		                		<div class="d-flex flex-column align-items-end">
		                			<div th:inline="text" class="text-success">
		                				+[[${#numbers.formatDecimal(data.income, 0, "POINT", 0, "POINT")}]] ₫
		                			</div>
		    						<div th:inline="text" class="text-danger">
		    							-[[${#numbers.formatDecimal(data.expense, 0, "POINT", 0, "POINT")}]] ₫
		    						</div>
		    						<div th:inline="text">
		    							[[${#numbers.formatDecimal(data.income-data.expense, 0, "POINT", 0, "POINT")}]] ₫
		    						</div>
		                		</div>
	                		</a>
	                	</li>
	                </ul>
                </div>
        	</div>
        </div>
	</div>
</div>

</html>