<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	layout:decorate="~{layouts/user}">   	
<div layout:fragment="content">
	<h1 class="h3 mb-2 text-gray-800">Thêm mục thu nhập</h1>
	<div class="card shadow mb-4 col-md-6 col-12">
		<div class="card-body">
			<form th:action="@{/user/save-income}" th:object="${income}" method="POST">
		 		
		 		<label>Ngày thu <sup>*</sup></label>
		 		<input type="date" th:field = "*{date}" required
		 		class="form-control col-12">
		 		<label th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger font-italic d-block"></label>
		 		<div class="mb-4"></div>
		 		
		 		<label>Số tiền <sup>*</sup></label>
		 		<input type="number" th:field = "*{amount}" required
		 		placeholder="Nhập số tiền" class="form-control col-12">
		 		<label th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="text-danger font-italic d-block"></label>
		 		<div class="mb-4"></div>
		 		
		 		<label>Mô tả</label>
		 		<input type="text" th:field = "*{description}" required
		 		placeholder="Nhập mô tả" class="form-control col-12">
		 		<label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger font-italic d-block"></label>
		 		<div class="mb-4"></div>
		 		
		 		<label>Nguồn thu <sup>*</sup></label>
		 		<select th:field="*{source}" class="form-control mb-4 col-12">
				    <option th:each="item: ${sourcesList}" th:value="${item.csid}" th:text="${item.name}"></option>
				</select>
				
		 		<button type="submit" class="btn btn-info">Thêm mới</button>
		 	</form>
   		</div>
	</div>
	<div class="form-action">
		<a th:href="@{/user/incomes}">Quay lại</a>
	</div>
</div>
</html>